ul.flex li {
    display: inline-block;
}

ul.flex.overflow {
    position: relative;
    padding: 2px;
    width: 100%;
}

ul.flex.overflow.open {
    max-height: 100%;
}

ul.flex.overflow.open > li {
    visibility: visible;
    display: block;
    margin: 3px 0;
    cursor: pointer;
}

ul.flex.overflow.open > li:first-of-type {
    margin: 2px;
}

ul.flex.overflow.open > li:first-of-type a {
    width: 90% !important;
}

ul.flex.overflow.open > li a:not(.selected) {
    width: 100%;
}

ul.flex.overflow.open > li a:not(.active) {
    padding-right: 0;
}

ul.flex.overflow li {
    visibility: hidden;
    display: none;
}

ul.flex.overflow li.selected {
    visibility: visible;
    color: #666;
    padding: 0;
    border-radius: 20px;
    min-width: 80px;
    text-decoration: none;
    display: inline-block;
    background: white;
    white-space: nowrap;
}

ul.flex.overflow li a {
    text-align: left;
    width: 80%;
    cursor: pointer;
}

ul.flex.overflow li a.active {
    text-align: center;
    background: transparent;
}

ul.flex.overflow .more-btn {
    float: right;
    color: #666;
    font-weight: bold;
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    z-index: 100;
}

ul.flex.overflow > li {
    clear: both;
    float: none;
}